

{% block content %}
    <div class="container-fluid" style="margin-top: 30px;">
        <div class="row clearfix" >
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="block-header">
                  <h2 align="center">
                      SPACE1
                      <small>Área de infos do Cluster 1</small>
                  </h2>
              </div>
                <div class="card">
                    <!-- <div class="header">
                        <h2>REAL-TIME CHART</h2>
                    </div> -->
                    <div class="body">
                        <div  class=""><img src="img.png" alt="" width='100%'> </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="block-header">
                  <h2 align="center">
                      SPACE2
                      <small>Área de infos do Cluster 2</small>
                  </h2>
              </div>
                <div class="card">
                    <!-- <div class="header">
                        <h2>REAL-TIME CHART</h2>
                    </div> -->
                    <div class="body">
                        <div id="" class=""><img src="4p1.png" alt="" width='100%'> </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}